body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: rgb(190, 150, 100, 0.4);
}

h1 {
  margin: 0;
  padding: 0;
}

#app {
  width: 300px;
  height: 600px;
  margin: 14vh auto 0;
  border-radius: 10px;
  background: hsla(33, 41%, 57%, 1);
  position: relative;
}

.wrapper-weather {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding-top: 2rem;
}

.temp,
.weather,
.title,
.quote,
.author {
  font-size: 1.5rem;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  margin-bottom: 1rem;
}

.wrapper-quote {
  width: 75%;
  margin: 3rem auto 0;
}

.quote {
  margin-bottom: 1rem;
}

.wrapper-logo {
  width: 200px;
  position: absolute;
  bottom: 2rem;
  left: calc(50% - 100px);
}

.logo {
  width: 100%;
}

.temp,
.weather {
  color: rgb(242, 242, 242);
}

.title,
.quote,
.author {
  color: rgb(131, 72, 0);
}